/*一般需要用到的css公用样式*/

* {
    box-sizing: border-box;
}

html {
    color: #222;
}


/*选中文字的效果*/

::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}


/*清除浮动*/

.clearfix::after, .clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}
